.bgnav{
    background-color: #54Ac44;
  }
.brand-logo{
    height: 75px;
    width: 150px;
}
.searchIcon{
    background-color: #F8D323;
}
.icon-white-rounded-bg {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    right: 0;
}
.counter{
    position: absolute;
    color: white;
    font-size: 12px;
    right: -10px;
    background-color: #EB423F;
    border-radius: 50%;
    min-width: 18px;
    height: 18px;
}
.icon-title{
    position: absolute;
    color: white;
    font-size: 12px;
    right: -59px;
    font-weight: 700;
}

.input-group{
    width:50%!important;   
}
.form-control{
    background-color: #f5f5f5!important;
    border-color: #f5f5f5;
    padding-right: 160px;
    font-size: 14px; 
    border-radius: 5px 0px 0px 5px!important;
    box-shadow: none;
}

.hiSearch {
    height: 41px;
    width: 64px;
    font-size: 20px!important;
    background-color: #F8D323!important;
    border-radius: 0px 5px 5px 0px!important;
}
.card-section{
    background-color: #EFF7FA;
}
.width{
    max-width: 230px!important;
    border: none!important;
}
.product-title{
    color: #0CC5B7;
    font-size: 0.875rem;
    font-weight: bold;
}
.product-amount{
    font-style: normal;
    font-weight: 700;
    font-size: 0.85rem;
    color: #808080;
    margin-bottom: 0px;
}
.product-price {
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 20px;
    color: #3F3679;
}
.cart-button{
    color: #FFFFFF;
    background: #57565C!important;
    border-radius: 25px!important;
    width: 164px;
    height: 37px;
    text-align: center;
    padding: 8px 30px;
    font-size: 0.875rem;
    border: none!important;
}
.category-name{
    font-size: 1.125rem;
    color: #3F3679;
    font-weight: 500;
}
.category-link{
    font-size: 0.9375rem;
    font-weight: 500;
    color: #0CC5B7;
}

.right{
    
    width: 380px!important;
    right: 0!important;
}
.modal-footerWrapper{
    position: relative;
}
.pickup-btn{
    background-color: #54Ac44;
    color: white;
    border: none;
    width: 100%;
    /* margin-left: -16px; */
    margin-bottom: -4px;
    height: 60px;
    width: 100%;
    font-weight: 500;
}
.click-collect-btn{
    background-color: #F8D323;
    border: none;
    height: 60px;
    width: 100%;
    font-weight: 500;
    /* margin-right: -16px; */
}
.black-bold-text{
    font-weight: 700;
    font-size:  0.9375rem;
}
.order-alart{
    color: #dc3545;
    font-weight: 600;
    letter-spacing: -1px;
}
.modal-header{
    background-color: #F8D323;
    padding: 5px!important;
}
.cartWrapper{
    width: 380px;
    position: fixed;
    right: 0;
    top: 90px;
    background-color: white;
    box-shadow: 0px 2px 2px 1px rgb(199 199 199);
    height:90vh;
    z-index: 1;
}
.add{
    border: 1px solid white;
    border-radius: 50%;
    padding: 0px 6px;
    margin-bottom: auto;
}