

.hiSearch {
    height: 41px;
    width: 64px;
    font-size: 20px!important;
    background-color: #F8D323!important;
    border-radius: 0px 5px 5px 0px!important;
}
.card-section{
    background-color: #EFF7FA;
}
.width{
    max-width: 230px!important;
    border: none!important;
}
.product-title{
    color: #0CC5B7;
    font-size: 0.875rem;
    font-weight: bold;
}
.product-amount{
    font-style: normal;
    font-weight: 700;
    font-size: 0.85rem;
    color: #808080;
    margin-bottom: 0px;
}
.product-price {
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 20px;
    color: #3F3679;
}
.cart-button{
    color: #FFFFFF;
    background: #57565C!important;
    border-radius: 25px!important;
    width: 164px;
    height: 37px;
    text-align: center;
    padding: 8px 30px;
    font-size: 0.875rem;
    border: none!important;
}
.category-name{
    font-size: 1.125rem;
    color: #3F3679;
    font-weight: 500;
}
.category-link{
    font-size: 0.9375rem;
    font-weight: 500;
    color: #0CC5B7;
}

.right{ 
    width: 380px!important;
    right: 0!important;
}
.modal-footerWrapper{
    position: relative;
}
.pickup-btn{
    background-color: #54Ac44;
    color: white;
    border: none;
    width: 100%;
    margin-left: 12px;
    /* margin-left: -16px; */
    height: 60px;
    font-weight: 500;
}
.click-collect-btn{
    background-color: #F8D323;
    border: none;
    height: 60px;
    width: 100%;
    font-weight: 500;
    /* margin-right: -16px; */
}
.black-bold-text{
    font-weight: 700;
    font-size:  0.9375rem;
}
.order-alart{
    color: #dc3545;
    font-weight: 600;
    letter-spacing: -1px;
}
.modal-header{
    background-color: #F8D323;
    padding: 5px!important;
}
.cartWrapper{
    width: 380px;
    position: fixed;
    right: 0;
    top: 90px;
    background-color: white;
    box-shadow: 0px 2px 2px 1px rgb(199 199 199);
    height:86vh;
    z-index: 2;
    
}
.cartbody{
    position: relative;
    max-height: 80vh;
    overflow: scroll;
}
.cartbody::-webkit-scrollbar {
    width: 5px;
    background-color: green;
    border-radius: 10px;  
  }
  .shoppingCart-footer{
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 380px ;
  }

.add{
    border: 1px solid white;
    border-radius: 50%;
    padding: 0px 6px;
    margin-bottom: auto;
}
.Img{
    max-width: 100%;
    height: auto;
}
.img-flui{
    height: 70px;
    width: 70px;
}
.shaadow{
    box-shadow: rgb(0 0 0 / 5%) 0px -1px 0px 0px inset
}













@media (max-width: 991.98px) { 
    .cartWrapper{
        width: 100%;
        top: 0px;
        height: -webkit-fill-available;
    }
    .shoppingCart-footer{
        width: 100%!important;
      }
    

 }
